* {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  margin-top: 20px;
}

.App ul li {
  list-style-type: none;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 400px;
  height: 150px;
  display: inline-block;
  padding-top: 10px;
  margin: 20px;
  line-height: 35px;
  vertical-align: middle;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}
